<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>My Website - About</title>
 <link rel="stylesheet" href="/static/css/app.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
</head>
<body>
    <div class = "about-wrapper">
        <div class = "about">
          <div class = "about-content">
            <div>
              <div class = "shadow">
                <div class = "about-img">
                  <img src = "/static/css/image3a.jpeg" alt = "about image">
                </div>
              </div>
              <h1>Kajae Page</h1>
              <h3>Electronics & Computer Science Major</h3>
              <div class = "about-para">
                <p>Hi, I am a third-year student attending The University of the West Indies who is pursuing a double major. I have an introverted personality, thus making me an individual who gets my energy from spending time alone. My hobbies include creating digital art, watching anime, reading manwahs, and baking. Although I have an introverted personality, I like to go out and experience new cultures and foods. I love dogs and my favorite breed is the Husky. There is nothing better than their icy blues eyes and howling. I also love playing badminton, succulent plants, and bonsai trees. I hope this is enough information because my social battery is draining.</p>
            </div>
          </div>

          <ul class = "icons">
            <li><a href="https://github.com/KajaePage" class="fab fa-github"></a></li>
            <li><a href="https://twitter.com/PageKajae" class = "fab fa-twitter"></a></li>
            <li><a href="https://www.linkedin.com/in/kajae-page-936732164/" class = "fab fa-linkedin"></a></li>
            <li><a href="https://www.instagram.com/_knikolou/" class = "fab fa-instagram"></a></li>
          </ul>
        </div>
        
      </div>
</body>
</html>
